[submodule "samtools"]
	path = samtools
	url = https://github.com/kojix2/samtools
[submodule "mruby-bam"]
	path = mruby-bam
	url = https://github.com/kojix2/mruby-bam
[submodule "htslib"]
	path = htslib
	url = https://github.com/kojix2/htslib
